In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [40]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
arr = np.array(my_data)

In [15]:
pd.Series(my_data,d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data = d)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(data=arr)

0    10
1    20
2    30
dtype: int64

In [32]:
ser1 = pd.Series([1,2,3,4], ['USA','Germany', 'France','Japan'])

In [33]:
ser2 = pd.Series([1,2,5,6], ['USA','Germany','Italy','Corean'])

In [34]:
ser2['Italy']

5

In [35]:
ser3 = pd.Series(data=labels)

In [36]:
ser3

0    a
1    b
2    c
dtype: object

In [37]:
ser1

USA        1
Germany    2
France     3
Japan      4
dtype: int64

In [38]:
ser2

USA        1
Germany    2
Italy      5
Corean     6
dtype: int64

In [39]:
ser1+ser2

Corean     NaN
France     NaN
Germany    4.0
Italy      NaN
Japan      NaN
USA        2.0
dtype: float64